*{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-size: 3.8rem;
    line-height: 4.2rem;
    color: #4c4c4c;
    font-weight: 300;
    text-align: center;
    padding: 2rem;
}
h3{
    font-size: 1.7rem;
    color: #4c4c4c;
    padding: 1rem 0;
    font-weight: 700;
}
h4{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #4c4c4c;
    color: #4c4c4c;
    font-weight: 400;
}
input:focus {
    outline: none;
}
a{
    color: #1abc9c;
    text-decoration: none;
}
a:hover, a:active{
    color: #000;
}
.green_txt{
    color: #1abc9c;
}
.green_btn{
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #fff;
}
input{
    font-size: 1.125rem;
    padding: 10px;
    margin-left: -4px;
    text-align: center;
    border: 1px solid #e3e3e3;
}
input[type=submit]{
    font-size: 1.125rem;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    color: #fff;
}
input[type=submit]:hover, input[type=submit]:active{
    color: #000;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows:max-content;
}
.grid-2colums-in-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:max-content;
    column-gap: 2rem;
    row-gap: 2rem;
}
.grid-3colums-in-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:max-content;
    column-gap: 2rem;
    row-gap: 2em;
}

/* --- BUNNER --- */
.bunner-wrapper{
    grid-column: 1 / 4;
    background-image: url(images/header-wool.jpg);
    min-height: 450px;
    background-position: center;
    background-size: cover;
}
.bunner {
    grid-column: 2/3;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: white;  
}
.bunner-slogan{
    font-size: 3.5rem;
    line-height: 4.2rem;
    padding: 1rem 0;
}
.bunner-discription{
    font-size: 1.5rem;
    line-height: 4.2rem;
    padding: 1rem 0;
}
.subscribe_info {
    line-height: 27px;
    width: 50%;
    margin: 50px auto 10px;
}


/* --- HEADER --- */
.header-wrapper {
    filter: drop-shadow(0px 4px 7.5px rgba(0,0,0,0.19));
    background-color: #ffffff;
    grid-column: 1 / 4;
}
.header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 0.5fr 6fr 1fr;
    align-self: center;
    justify-content: center;
    color: #a69999;
    margin: 15px 0;
}
.logo, .menu, .social-links{
    align-self: center;
    justify-content: center;
}
.logo img, .menu{
    padding-right: 15px;
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu a{
    color: #939598; 
}
.menu a:hover, .menu a:active{
    color: #1abc9c;
}
.social-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.social-links img{
    display: block;
    margin: 0px 10px;
    height: 1rem;
}

/* ---CONTENT --- */
.content-wrapper {
    grid-column: 1 / 4;
    padding: 3rem 0;
    align-self: center;
}
.wrapper{
    padding: 3rem 0;
}
.wrapper:nth-child(even){
    background-color: #f7f7f7;
}
.what-we-do,.service, .about, .portfolio, .team, .pricing, .testimonial{
    grid-column: 2/3;
    text-align: center;
}
.what-we-do-dicription{
    padding: 2rem 0;
}
.what-we-do-dicription img{
    max-width: 3rem;
}
.what-we-do-dicription p{
   color: #939598;
}
.block-service{
    border: 1px solid #a69999;
    padding: 1rem;
    background-color: #ffffff;
}
.block-service ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.block-service ul li{
    box-shadow: 1px 1.732px 1.5px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    padding: 0.5rem;
    color: #000000;
}
.block-service ul li:hover{
    cursor: default;
    background-color: #f1f1f1;
}
.block-service img{
    max-height: 150px;
}
.about-2colums{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows:max-content;
    column-gap: 2rem;
    row-gap: 2rem;
}
.video iframe{
    width:100%;
    min-height:300px;
}
.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs li{
    display: inline-block;
    background-color:#1abc9c;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
.tabs li.active, .tabs li:hover{
    background-color: #000;
    cursor: pointer;
}
.portfolio{
    margin-bottom: 3em;
}
.portfolio-gallerys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-self: center;
    justify-self: center;
}
.portfolio-gallerys img{
display: block;
max-width: 100%;
}



/* --- FOOTER--- */
.footer{
    grid-column: 1 / 4;
}
.footer-contac-us{
    background-color: #f1f1ef;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    align-items: center;
    text-align: center; 
    padding: 1rem 0;
}
.phone i, .work-time i, .mail i{
    font-size: 3rem;
}
.phone p, .work-time p, .mail p{
    padding: 0.5rem;
    font-weight: bold;
}
.work-time{
    border-left: 1px solid #a69999;
    border-right: 1px solid #a69999;
}
.footer-copyright-wrapper{
    background-color: #000;
    color:#a69999;
}
.copyright{
    grid-column: 2/3;
    align-items: center;
    text-align: center;
    padding: 50px 0 10px;
}
.footer-logo-social-wrapper{
    background-color: #000;
}
.footer-logo-social{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    padding: 2rem 0;
}
.footer-social-links{
    text-align: right;
}
.footer-social-links a img{
    padding-left: 1rem;
    height: 1.5rem;
}